<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/queries.css">
    <title>Queries</title>
</head>

<body>
    <h1>Welcome to Queries Section !</h1>

    <h3>How to Book ?</h3>
    <div class="steps">
        <div class="step">
            <div class="step-icon">1</div>
            <div class="step-text">Register</div>
        </div>
        <div class="step">
            <div class="step-icon">2</div>
            <div class="step-text">Select Current and Destination Location</div>
        </div>
        <div class="step">
            <div class="step-icon">3</div>
            <div class="step-text">Number of Passengers</div>
        </div>
        <div class="step">
            <div class="step-icon">4</div>
            <div class="step-text">Book</div>
        </div>
        <div class="step">
            <div class="step-icon">5</div>
            <div class="step-text">Payment Cash/UPI</div>
        </div>
    </div>
</body>

</html>