<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rider Registration</title>
    <link rel="stylesheet" href="/css/riderRegistration.css">
  </head>
  <body>
    <h1>Rider Registration</h1>
    <form id="riderForm" action="/ridebook" method="POST">
      <label for="fullName">Full Name:</label><br>
      <input type="text" id="fullName" name="fullName"><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br>
      <label for="phoneNumber">Phone Number:</label><br>
      <input type="tel" id="phoneNumber" name="phoneNumber"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" id="submit" value="Register">
    </form>
  </body>
</html>
