<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rider Login</title>
  <link rel="stylesheet" href="/css/riderlogin.css">
</head>
<body>
  <div class="container">
    <h1>Rider Login</h1>
    <form id="loginForm" action="/rider-login" method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>
