<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safety</title>
   <link rel="stylesheet" href="/css/safety.css">
</head>

<body>
    <a href="index" class="home">Home</a>
    <h1>Building safer journeys for everyone</h1>
    <div class="container">
        <div class="card1">
            <h2>Drivers safety</h2>
            <p>Count on 24/7 support to help with any questions or safety concerns. Share your trip with loved ones. Our
                focus is on your safety, so you can go where the opportunity is.</p>
        </div>
        <div class="card2">
            <h2>Riders safety</h2>
            <p>Every rider has access to safety features built into the app. And every ride has a support team if you
                need them.</p>
        </div>
    </div>
</body>

</html>