<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>driver welcome</title>
    <link rel="stylesheet" href="/css/welcomeDriver.css">
</head>
<body>
    <h1>Welcome To Driver's Dashboard !</h1>
    <form action="/all-ride-requests" method="POST">
        <input type="submit" value="See Requests !">
    </form>
</body>
</html>