* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 250 ms ease-in-out;
    -o-transition: all 250 ms ease-in-out;
    transition: all 250 ms ease-in-out;
}

body {
    overflow-x: hidden;
}

.mobile-nav-toggle {
    display: none;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--gap, 1rem);
}

.hero {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-top: 2rem;
    padding-right: 2rem;
}

.primary-navigation>* a {
    list-style: none;
    color: white;
    text-decoration: none;
    padding-right: 5.5rem;
}

.primary-navigation>* a:hover {
    text-decoration: underline;
}

nav ul li a span {
    margin-right: .3rem;
}

.primary-navigation {
    padding: 1rem 3rem;
    background: hsl(0, 0%, 100%, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    list-style: none;
}


.primary-navigation a>[aria-hidden="true"] {
    font-weight: 700;
    -webkit-margin-end: .5em;
            margin-inline-end: .5em;

}

@media (max-width: 800px) {
    .primary-navigation {
        --gap: 8em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        background: steelblue;
        list-style: none;
        color: white;
        text-decoration: none;

        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

            -ms-flex-direction: column;

                flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        background: hsl(0, 0%, 100%, 0.1);
        -webkit-backdrop-filter: blur(1rem);
                backdrop-filter: blur(1rem);

        -webkit-transform: translateX(100%);

            -ms-transform: translateX(100%);

                transform: translateX(100%);
        -webkit-transition: -webkit-transform 350ms ease-in-out;
        transition: -webkit-transform 350ms ease-in-out;
        -o-transition: transform 350ms ease-in-out;
        transition: transform 350ms ease-in-out;
        transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;

    }

    .primary-navigation[data-visible="true"] {
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background: url(../images/list.png);
        background-repeat: no-repeat;
        width: 1.8rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(../images/x.png);
    }
}