
body {
    background: -o-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
    height: 100vh;
    color: white;
}

.home {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

h1 {
    -webkit-margin-start: 4rem;
            margin-inline-start: 4rem;
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.625rem;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    margin-inline: 4rem;
    margin-top: 4rem;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}